spring:
  profiles:
    active: dev
  application:
    name: perfume-backend

server:
  port: 8080
  servlet:
    context-path: /api

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    enabled: true

app:
  jwt:
    secret: maison-bonheur-perfume-secret-key-2024-jwt-token-security
    expiration: 86400000

logging:
  level:
    com.maisonbonheur.perfumebackend: DEBUG